.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

#houres,
#minutes,
#seconds {
  font-size: xx-large;
}

#start,
#pause,
#reset {
  font-size: x-large;
}

.stopwatch {
  justify-content: space-around;
}

.btn {
  /* align-self: center;     */
}
